.addUsers {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
}
.heading {
  font-size: 200%;
  text-align: center;
  padding-bottom: 1rem;
}
label {
  display: block;
}
input {
  font: inherit;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.15rem;
  margin-bottom: 0.5rem;
}
input:focus {
  border: none;
  background: sienna;
}
