.button {
  padding: 0.5rem 1.5rem;
  outline: none;
  /* border: none; */
  background: sienna;
  color: wheat;
  cursor: pointer;
}
/* .button:hover,
.button:active {
  background: #741188;
  border-color: #741188;
} */
